@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: content-box;
}
body{
    height: 100vh;
    background-color: rgb(15, 15, 38);
    display: flex;
    justify-content: center;
    align-content: center;
}
.pantalla{
    width: 1024px;
    height: 576px;
    display: grid;
    border-radius: 15px;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(9,1fr) 3fr;
    background-color: var(--color-primary);
    padding: 0.5%;
    grid-template-areas:
    "area1 area1 area1 area1 area1 area1 area7 area7 area7 area7 area7 area8 area8 area8 area13 area13 area13 area13 area13 area13"
    "area1 area1 area1 area1 area1 area1 area7 area7 area7 area7 area7 area8 area8 area8 area13 area13 area13 area13 area13 area13"
    "area1 area1 area1 area1 area1 area1 area7 area7 area7 area7 area7 area8 area8 area8 area13 area13 area13 area13 area13 area13"
    "area1 area1 area1 area1 area1 area1 area9 area9 area9 area9 area9 area9 area9 area9 area13 area13 area13 area13 area13 area13"
    "area2 area2 area2 area3 area3 area3 area9 area9 area9 area9 area9 area9 area9 area9 area13 area13 area13 area13 area13 area13"
    "area2 area2 area2 area3 area3 area3 area9 area9 area9 area9 area9 area9 area9 area9 area14 area14 area14 area15 area15 area15"
    "area2 area2 area2 area3 area3 area3 area9 area9 area9 area9 area9 area9 area9 area9 area14 area14 area14 area15 area15 area15"
    "area4 area4 area4 area4 area4 area4 area9 area9 area9 area9 area9 area9 area9 area9 area16 area16 area16 area16 area16 area16"
    "area4 area4 area4 area4 area4 area4 area9 area9 area9 area9 area9 area9 area9 area9 area16 area16 area16 area16 area16 area16"
    "area5 area5 area5 area5 area6 area6 area10 area10 area11 area11 area11 area11 area12 area12 area17 area17 area17 area17 area17 area17"
    ;
    gap: 1.6%;
}
.pantalla div{
    border-radius: 20px;
    overflow: hidden;
    /* object-fit: none; */
    background-color: var(--color-secundary);
}

.area1{
    grid-area: area1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
.area1 img{
    margin-top: 2%;
    width: 100%;
    height: auto;
}
.area1 h2{
    color: var(--color-tertiary);
    font-size: 3.6em;
    order: -1;
    font-weight: 100;
    letter-spacing: -3px;
}

.area2{
    grid-area: area2;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 8%;
    justify-content: start;
    box-sizing: border-box;
    background-image: url("../storage/img/img2.webp");
    background-size: cover;
    background-position:center;
} 
.area2 p{
    color: var(--color-primary);
    font-size: 0.8em;
    order: -1;
    font-weight: 600;
    text-shadow: 0.5px 0px 3px black;
    z-index: 1;
    color: var(--color-primary);
}
.area3{
    grid-area: area3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.area3 img{
    width: 58%;
    height: 58%;
}
.area3 p{
    text-align: center;
    width: 6.5em;
    color: black;
    font-size: 0.9em;
    font-weight: bold;
}
.area4{
    grid-area: area4;
    background-image: url(../storage/img/img4.jpg);
    background-size: cover;
    scale: -1; /*para volterar*/
    background-position-y: top;
    display: flex;
    justify-content: center;
    align-items: end;
}
.area4 p{
    scale: -1;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 0.9em;
    font-weight: 600;
    justify-self: center;
    margin-bottom: 4px;
}
.area5{
    grid-area: area5;
}
.area6{
    grid-area: area6;
}
.area7{
    grid-area: area7;
}
.area8{
    grid-area: area8;
}
.area9{
    grid-area: area9;
}
.area10{
    grid-area: area10;
}
.area11{
    grid-area: area11;
}
.area12{
    grid-area: area12;
}
.area13{
    grid-area: area13;
}
.area14{
    grid-area: area14;
}
.area15{
    grid-area: area15;
}
.area16{
    grid-area: area16;
}
.area17{
    grid-area: area17;
}