@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: rgb(15, 15, 38);
    display: flex;
    justify-content: center;
    align-content: center;
}
.pantalla{
    width: 954px;
    height: 72%;
    display: grid;
    border-radius: 15px;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(9,1fr) 3fr;
    background-color: var(--color-primary);
    padding: 0.8%;
    grid-template-areas:
    "area1 area1 area1 area1 area1 area1 area7 area7 area7 area7 area7 area8 area8 area8 area13 area13 area13 area13 area13 area13"
    "area1 area1 area1 area1 area1 area1 area7 area7 area7 area7 area7 area8 area8 area8 area13 area13 area13 area13 area13 area13"
    "area1 area1 area1 area1 area1 area1 area7 area7 area7 area7 area7 area8 area8 area8 area13 area13 area13 area13 area13 area13"
    "area1 area1 area1 area1 area1 area1 area9 area9 area9 area9 area9 area9 area9 area9 area13 area13 area13 area13 area13 area13"
    "area2 area2 area2 area3 area3 area3 area9 area9 area9 area9 area9 area9 area9 area9 area13 area13 area13 area13 area13 area13"
    "area2 area2 area2 area3 area3 area3 area9 area9 area9 area9 area9 area9 area9 area9 area14 area14 area14 area15 area15 area15"
    "area2 area2 area2 area3 area3 area3 area9 area9 area9 area9 area9 area9 area9 area9 area14 area14 area14 area15 area15 area15"
    "area4 area4 area4 area4 area4 area4 area9 area9 area9 area9 area9 area9 area9 area9 area16 area16 area16 area16 area16 area16"
    "area4 area4 area4 area4 area4 area4 area9 area9 area9 area9 area9 area9 area9 area9 area16 area16 area16 area16 area16 area16"
    "area5 area5 area5 area5 area6 area6 area10 area10 area11 area11 area11 area11 area12 area12 area17 area17 area17 area17 area17 area17"
    ;
    gap: 1%;
    row-gap: 1.8%;
}
.pantalla div{
    border-radius: 20px;
    overflow: hidden;
    /* object-fit: none; */
    background-color: var(--color-secundary);
}

.area1{
    grid-area: area1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
.area1 img{
    margin-top: 2%;
    width: 100%;
    height: auto;
}
.area1 h2{
    color: var(--color-tertiary);
    font-size: 3.6em;
    order: -1;
    font-weight: 600;
    letter-spacing: -2px;
}

.area2{
    grid-area: area2;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 8%;
    justify-content: start;
    box-sizing: border-box;
    background-image: url("../storage/img/img2.webp");
    background-size: cover;
    background-position:center;
} 
.area2 p{
    color: var(--color-primary);
    font-size: 1em;
    order: -1;
    font-weight: 600;
    text-shadow: 0.5px 0px 2px black;
    z-index: 1;
    color: var(--color-primary);
}
.area3{
    grid-area: area3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.area3 img{
    width: 58%;
    height: 58%;
}
.area3 p{
    text-align: center;
    width: 6.5em;
    color: black;
    font-size: 1em;
    font-weight: bold;
}
.area4{
    grid-area: area4;
    background-image: url(../storage/img/img4.jpg);
    background-size: 100% 180%;
    scale: -1; /*para volterar*/
    background-position-y: top;
    display: flex;
    justify-content: center;
    align-items: end;
}
.area4 p{
    scale: -1;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 1em;
    font-weight: 600;
    justify-self: center;
    margin-bottom: 1%;
}
.area5{
    grid-area: area5;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4%;
}
.area5 img{
    width: 40%;
    height: max-content;
    order: -1;
}
.area5 h2{
    color: var(--color-tertiary);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.2em;
}
.area6{
    grid-area: area6;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.area6 img{
    width: 75%;
    height:max-content;
}
.area6 p{
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: black;
    font-weight: 600;
    text-align: center;
}
.area7{
    grid-area: area7;
    background: url(../storage/img/img7.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
}
.area7 h2{
    color: var(--color-tertiary);
    font-size: 4.3em;
    font-weight: 500;
    letter-spacing: 2px;
}
.area7 p{
    margin-top: 4%;
    color: var(--color-secundary);
    font-size: 1em;
    text-align: center;
    font-weight: 600;
}
.area8{
    grid-area: area8;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    gap: 3%;
}
.area8 img{
    width: 60%;
    height: max-content;
}
.area8 p{
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
.area9{
    grid-area: area9;
    box-sizing: content-box;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.area9 img{
    display: flex;
    height: max-content;
    width: 44vw; /*183%*/
    position: relative;
    left: 0vw; /*-40%*/
}
.area10{
    grid-area: area10;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: black;
    font-weight: 600;
    text-align: center;
    align-items: center;
}
.area10 img{
    width: 74%;
    height: max-content;
}
.area11{
    grid-area: area11;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: black;
    font-weight: 600;
    text-align: center;
    align-items: center;
}
.area11 img{
    width: 43%;
    height: 70%;
}
.area12{
    grid-area: area12;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: black;
    font-weight: 600;
    text-align: center;
    align-items: center;
}
.area12 img{
    width: 75%;
}
.area13{
    grid-area: area13;
    display: flex;
    justify-content: center;
}
.area13 img{
    display: flex;
    position: relative;
    height: 100%;
    width: 110%;
}
.area14{
    grid-area: area14;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.area14 h2{
    color: var(--color-tertiary);
    font-size: 2.6em;
}
.area14 p{
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
.area15{
    grid-area: area15;
    display: flex;
    background-image: url(../storage/img/img15.jpg);
    background-size: 100%;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: end;
}
.area15 p{
    color: var(--color-secundary);
    font-weight: 600;
    padding-bottom: 7%;
}
.area16{
    grid-area: area16;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: start;
}
.area16 img{
    width: 70%;
    height: auto;
    /* padding-left: 4%; */
}
.area16 p{
    font-weight: 600;
    padding-left: 6%;
}
.area17{
    grid-area: area17;
    background-image: url(../storage/img/img17.png);
    background-size: 90% 130%;
    background-position: 0 40%;
    background-repeat:no-repeat ;
    display: flex;
    justify-content: center;
    align-items: end;
}
.area17 p{
    padding-bottom: 2%;
    font-weight: 600;
}

@media screen and (max-width: 650px) {
    .pantalla div p{
        font-size: 0.7rem; /* Cambiar el tamaño de fuente en pantallas más pequeñas */
        font-weight: 300;
    }
    .pantalla div h2{
        font-size: 1.3rem;
        letter-spacing: -1px;
    }
}